* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Darker Grotesque';
}

body {
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

.container {
    width: 1728px;
    margin: 0 auto;
}

.nav {
    transition: background-image 0.5s ease;
    background-image: url("../images/introbg.png");
    height: 1027px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.navbar-logo {
    margin-left: 150px;
    margin-top: 20px;
}

.navbar-burger {
    margin-left: 1332px;
    margin-top: 34px;
}

.intro-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    width: 143px;
    height: 39px;
    background: #FF0000;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    margin-left: 792px;
    margin-bottom: 90px;
    margin-top: 17px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.intro-button:hover {
    background-color: white;
    color: #FF0000;
}

.intro-title {
    font-style: normal;
    font-weight: bold;
    font-size: 96px;
    line-height: 115px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 10px;
}

.intro-box {
    display: flex;
    justify-content: space-between;
    width: 1028px;
    border-bottom: 1px solid white;
    margin-left: 350px;
    margin-top: 608px;
}

.intro-box-title {
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    padding-bottom: 45px;
    margin-top: 20px;
}

.intro-box-mini {
    width: 105px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#dot1 {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}

#dot2 {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dot3 {
    width: 15px;
    height: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot div {
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 5px;
}

.header-box {
    width: 1428px;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    margin-left: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 79px;
}

.header-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.3s ease;
    cursor: pointer;
}

.header-title:hover {
    color: #FF0000;
}

.header-box span {
    width: 4px;
    height: 4px;
    background: #FF0000;
    border-radius: 4px;
    margin-left: 60px;
    margin-right: 60px;
}










.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s ease-in-out;
    margin-left: 150px;
}

.carousel-part {
    flex: 0 0 calc(100% / 3);
    display: flex;
    animation: fade 1s ease-in-out;
    margin-top: 50px;
}

.card {
    width: 349.5px;
    height: 477px;
    background: rgba(255, 255, 255, 0.1);
}

.carousel-controls {
    display: flex;
    margin-top: 40px;
    margin-left: 1388px;
}

.carousel-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    border: 2px solid black;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-dot div {
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.carousel-dot.active {
    border: 1px solid red;
}

.carousel-arrow {
    width: 40px;
    height: 40px;
    background-color: black;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.carousel-arrow:hover {
    border: 1px solid gray;
}

.carousel-arrow img {
    width: 10px;
    height: 20px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.carousel-part.active {
    display: flex;
}

.card img {
    width: 349.5px;
    height: 238.5px;
}

.card h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 20px;
    color: #FFFFFF;
}

.card p {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 40px;
    margin-left: 40px;
}

.card p span {
    width: 98px;
    background-color: #FF0000;
    height: 1px;
    margin-left: 10px;
    margin-right: 10px;
}

.magazinebox {
    margin-left: 150px;
    margin-top: 90px;
    width: 1434px;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.magazineboxImg {
    margin-top: 20px;
}

.magazineButton {
    width: 83px;
    height: 39px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    margin-top: 22px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.magazineButton:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid grey;
}

.cars-top {
    margin-top: 130px;
    margin-left: 150px;
}

.cars-top h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cars-top h1 span {
    color: red;
    margin-left: 40px;
}

.cars-top h1 span span {
    color: grey;
    margin-left: 40px;
}

.cars-bottom {
    display: flex;
    height: 656px;
    width: 1428px;
    margin-top: 50px;
    background-image: url(../images/bbblurry.svg);
    background-repeat: no-repeat;
    background-position: -0px -80px;
}

.cars-carousel {
    width: 1300px;
    height: 500px;
    margin-left: 150px;
}

.cars-part {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    height: 100%;
    animation: cars-slide-in 0.5s ease-in-out forwards;
}

.cars-part:not(.cars-active) {
    display: none;
    animation: cars-slide-out 0.5s ease-in-out forwards;
}

.cars-card {
    width: 432px;
    height: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    animation: cars-fade-in 0.5s ease-in-out forwards;
}

.cars-card h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 366px;
    margin-left: 20px;
}

.cars-card button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    gap: 10px;
    width: 253px;
    height: 36px;
    background: #FF0000;
    margin-left: 20px;
    margin-top: 20px;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    border: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cars-card button:hover {
    background-color: white;
    color: #FF0000;
}

.cars-dots {
    margin-left: 90px;
    animation: cars-fade-in 0.5s ease-in-out forwards;
}

.cars-dots button {
    transition: all 0.3s ease;
}

.cars-dots button:hover {
    border: 1px solid grey;
}

.cars-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid black;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cars-dot div {
    width: 5px;
    height: 5px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.cars-dot-active {
    border: 1px solid red;
}

.cars-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid white;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 150px;
}

.cars-next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    border: 1px solid white;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cars-link {
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
    border-bottom: 1px solid #FF0000;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 745px;
    width: 216px;
    color: #FF0000;
    transition: all 0.5s ease;
}

.cars-link:hover {
    border-bottom: 1px dashed #FF0000;
}

.slideCar {
    display: flex;
    justify-content: space-between;
    width: 1428px;
    margin-left: 150px;
    margin-top: 80px;
    margin-bottom: 150px;
    border-top: 2px solid rgb(25, 25, 25);
    padding-top: 90px;
}

.slideCarBox {
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 349.5px;
    height: 477px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.slide-active {
    width: 709px;
    background-position: center;
    background-size: cover;
}

.slide-active div {
    background: #00000080;
}

.slide-mini {
    background: rgb(25, 25, 25);
    width: 349.5px;
    height: 195px;
    margin-top: 282px;
    transition: all 0.3s ease;
}

.slide-title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 40px;
    padding-top: 40px;
    color: #FF0000;
}

.slide-text {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 40px;
    color: #FFFFFF;
    margin-bottom: 45px;
}

.slide-link {
    color: #FF0000;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-left: 40px;
    border-bottom: 1px dashed #FF0000;
}